@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-lavender: #e9ecff;
  --color-purple: #808cfd;
  --font-sans: var(--font-geist);
  --font-heading: var(--font-anek-tamil);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
